.App {
  display: grid;
  grid-template-columns: [navbar] calc(var(--baseline) * 24) [main] auto;
  grid-template-rows: [header] var(--header-height) [body] auto [footer] calc(
      var(--baseline) * 8
    );
  grid-template-areas:
    "navbar header"
    "navbar body"
    "navbar footer";
  overflow: hidden;
  height: 100vh;
}

.App__Nav {
  grid-area: navbar;
}

.App__Main {
  background-color: red;
  overflow-y: auto;
}

.App__Main__Header {
  grid-area: header;
  background-color: purple;
}

.App__Main__Body {
  grid-area: body;
  background-color: orange;
  overflow-y: auto;
}

.App__Main__Footer {
  grid-area: footer;
  background-color: green;
}
